html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  font-size: var(--base-font-size);
}

#app {
  background: var(--background);
  color: var(--color-dark);
}

/* 分页样式 #app调高优先级 */
#app .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  height: 30px;
}

#app .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: var(--theme-color);
}

#app .el-pagination.is-background .el-pager li:not(.disabled .active):hover {
  color: var(--theme-color);
}


html,
body,
input,
textarea,
select,
button,
pre{
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}
